{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}


{% block content %}
	<br>
	{% if userStatus == 0%}
		<div class="alert alert-danger" role="alert">
			<h4 class="alert-heading">Oh!!! 你的用户还处于未激活状态！</h4>
			<p>为了提高活动的真实有趣性,我们必须要确认所有的用户都是实名用户。你想完整地体验活动，请务必激活你的账户。</p>
			<hr>
			<p class="mb-0">更多关于激活账户的信息点我查看!<a href="{{ url_for('unconfirmed') }}">点击这里激活账户</a></p>
		</div>
		<br>
	{% endif %}
	{% if magiccode %}
		<br>
		<br>
		<div class="alert alert-danger" role="alert">
			<h4 class="alert-heading">请注意 ！！！！</h4>
			<p> 愿望一旦被选取之后就无法放弃，请谨慎选取！做一个言而有信的好先生! 愿望编号从上到下依次为1,2,3,4,5多余序号不用理会！！ </p>
			<hr>
			<p class="mb-0"> 若恶意选取女生愿望却不完成的，遭到女生投诉后，你的账号可能迷失在其他平行宇宙中!!!</p>
        </div>
		{% for wish in wishes %}
			<br>
			<div class="card border-primary mb-3" style="max-width: 48rem;">
				<div class="card-header">{{ loop.index }} 号愿望卡</div>
				<div class="card-body text-primary">
					{% for line in wish.wishcontent.split("\n") %}
					<p class="card-text">{{ line }}</p>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
		{{ render_form(selectwishform) }}
		<br>
		<div class="alert alert-primary" role="alert">这些愿望都不喜欢？点击下面按钮可刷新！</div>
		<br>
		{{ render_form(updatewishform) }}
	{% endif %}

	{% if myselectwish.wishstatus == 1 %}
		<br>
		<br>
		<span class="badge badge-warning"> 已选取 </span>
		<div class="card border-warning mb-3" style="max-width: 48rem;">
			<div class="card-header">愿望卡</div>
			<div class="card-body text-warning">
				<h5 class="card-title"> 愿望内容 </h5>
				<p class="card-text">{{ myselectwish.wishcontent }}</p>
			</div>
		</div>
		<br>
		<div class="card text-white bg-info mb-3" style="max-width: 48rem;">
			<div class="card-header"> 资料卡 </div>
			<div class="card-body">
				<h5 class="card-title"> 对方联系方式 </h5>
				<p class="card-text">对方校内邮箱：<a href="mailto:{{ myselectwish.userEmail }}">{{ myselectwish.userEmail }}</a> 在许愿过程中和对方及时沟通吧 </p>
			</div>
		</div>
		<br>
		{{ render_form(finishwishform) }}
	{% endif %}


	{% if myselectwish.wishstatus == 2 %}
		<br>
		<span class="badge badge-success">已完成</span>
		<div class="card border-success mb-3" style="max-width: 48rem;">
			<div class="card-header"> 愿望卡 </div>
			<div class="card-body text-success">
				<h5 class="card-title"> 愿望内容 </h5>
				<p class="card-text"> {{ myselectwish.wishcontent }} </p>
			</div>
		</div>
		<br>
		<div class="card text-white bg-info mb-3" style="max-width: 48rem;">
			<div class="card-header"> 资料卡 </div>
			<div class="card-body">
				<h5 class="card-title"> 对方联系方式 </h5>
				<p class="card-text">对方校内邮箱：<a href="{{ myselectwish.userEmail }}">{{ myselectwish.userEmail }}</a><br>对方QQ:{{ myselectwish.girlQQnum }}<br>{{ myselectwish.userSchoolNum }}</p>
			</div>
		</div>
	{% endif %}
	<br>
{% endblock %}
