{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}


{% block content %}
<h1>愿望实现活动手册 (常见问题解答)</h1>
<h3>注册环节</h3>
<ol start='' >
	<li>
		<p>Q：从哪里选择注册？</p>
		<p>A：点击右上角菜单，选择注册后，使用学校统一身份认证系统快速登陆</p>
	</li>
	<li>
		<p>Q：补全个人信息时邮箱后缀要写吗？</p>
		<p>A：邮箱后缀需要正确写出</p>
	</li>
	<li>
		<p>Q：用户注册时为什么要实名，可以不实名吗？</p>
		<p>A：因为本次活动中除愿望实现以外还有通过输入姓名进行表白配对的窗口，如果不进行实名注册，系统无法检测到表白你的那个他/她，属于凭实力单身行为</p>
	</li>
	<li>
		<p>Q：选性别时没有什么检测系统，怎么保证没有男装/女装大佬的出现呢？</p>
		<p>A：本网站利用校内统一身份认证进入，系统内能检测到参与活动的同学的学号，希望各位同学能如实填写自己的性别。<br/>如果有被同学举报乱填性别的现象出现，系统将记录其学号，取消其以后参加女生节系列活动以及此类相关活动的资格</p>
	</li>
	<li>
		<p>Q：为什么要填写邮箱号和 QQ 号？</p>
		<p>A：<strong>男生抽取愿望后，可能涉及到要和女生联系的问题，因此需要填写双方的邮箱，在男生抽取愿望后，系统会交换双方的邮箱（为了保护隐私，暂时不交换两人的 QQ 号，当男生帮助女生实现愿望后，系统将交换两人的 QQ，并显示对方学号前六位（含字母）） 完成表白配对后，系统会交换双方的 QQ 号以及邮箱号并显示对方学号前六位（含字母）</strong></p>
	</li>

</ol>
<h3>愿望实现窗口</h3>
<ol start='' >
	<li>
		<p>Q：女生如何许愿？</p>
		<p>A：直接在许愿内容文本框中写出自己的愿望，点击许愿后即完成许愿</p>
	</li>
	<li>
		<p>Q：女生可以许多个愿望吗？</p>
		<p>A：不可以，但是考虑到女生许愿后，有较长时间为被人抽取的可能，女生可以随时修改自己的愿望</p>
	</li>
	<li>
		<p>Q：女生的愿望被抽取后会有提示吗？</p>
		<p><strong>A：会有提示，系统会交换两人的邮箱</strong></p>
	</li>
	<li>
		<p>Q：男生如何抽取愿望？</p>
		<p>A：界面中一次会显示 5 个愿望，男生直接选择抽取第几个即可完成抽取</p>
	</li>
	<li>
		<p>Q：男生界面显示的女生愿望中包含哪些内容？</p>
		<p>A：仅有女生愿望的内容，没有相关联系方式</p>
	</li>
	<li>
		<p>Q：涉及到需要与女生线下接触才能完成的愿望，如何获得女生的联系方式？</p>
		<p>A：抽取愿望后即可获得对方校内邮箱</p>
	</li>
	<li>
		<p><strong>Q：愿望实现完成的标志？</strong></p>
		<p><strong>A： 男生帮助女生完成愿望后，点击完成愿望即可</strong></p>
	</li>
	<li>
		<p>Q：为什么一次只能看到 5 个愿望？</p>
		<p>A：为了提高女生愿望的实现率，避免男生在所有愿望中反复挑拣，所以男生界面一次只能看到五位女生的愿望</p>
	</li>
	<li>
		<p><strong>Q：如何刷新愿望？</strong></p>
		<p><strong>A：系统每隔 24 小时会自动刷新一次愿望，每个男生自身每天有一次刷新愿望的机会</strong></p>
	</li>
	<li>
		<p>Q：邮箱联系效率过慢，可以在愿望实现完成前得到女生的 QQ 号吗？</p>
		<p>A：可以，但不要指望系统会给你，你可以发邮件让那女孩子加你（PS：我们帮到这一步了，就算我们最后不交换两人 QQ 号，还要不到对方 QQ 吗？）</p>
	</li>

</ol>
<h3>表白配对窗口</h3>
<ol>
	<li>
		<p><strong>Q：我表白的人知道是我表白他/她了吗？</strong></p>
		<p><strong>A：不知道，只有当你俩相互表白时，相互之间才能知晓</strong></p>
	</li>
	<li>
		<p><strong>Q：表白一定要男女生之间吗？</strong></p>
		<p><strong>A：不一定。但是项目组考虑到科大男女比等实际情况，不建议女女</strong></p>
	</li>
	<li>
		<p>Q：表白只能表白一个人吗？</p>
		<p>A：是的。根据社会主义核心价值观，和我国一夫一妻的制度，表白窗口仅允许表白一人，且不允许修改。</p>
	</li>
	<li>
		<p><strong>Q：若是遇到我想表白的人在科大有重名，如何处理？</strong></p>
		<p><strong>A：系统会及时检测重名情况，若有重名的同学被表白，项目组将逐一处理</strong>  </p>
	</li>

</ol>

<h3>后期提问</h3>
<ol>
	<li>
		<p>Q：愿望实现平台选择愿望为什么每24小时只能刷新一次呢？</p>
		<p>A：如果能过于频繁刷新的话，那么每位男生可能都会去挑选最容易实现的愿望，有些较难实现的愿望就不会被抽取，造成愿望实现率不高。</p>
	</li>
	<li>
		<p>Q：女生节表白活动中，后台的小伙伴会不会看到我们的信息？</p>
		<p>A：是会看到部分信息的，但是可以确定的是仅有三位负责技术上的同学可以看到，且严格遵守活动中的保密要求，其他客服人员均看不到参与者信息。</p>
	</li>
	<li>
		<p>Q：匿名表白的操作在相互表白前根本看不到消息，还是仅仅看不到是谁？</p>
		<p>A：考虑到目前表白人数不多，无论有没有人表白你，在相互配对前都不会显示任何消息。</p>
	</li>
	<li>
		<p>Q：自己表白自己会不会出 Bug？</p>
		<p>A：不会的，表白自己请随意。</p>
	</li>
</ol>
{% endblock %}
