{% extends "base.html" %}


{% block content %}
<h1 class="text-center">第十三届 K-star 校园歌手大赛复活赛投票</h1>

<div class="container" style="margin: 1rem auto 2rem;">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<canvas id="voteChart" style="width: 100%;"></canvas>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>

<div class="container row text-center justify-content-center">
	{% if current_user.is_authenticated %}
		{% if has_voted %}
			<div class="col">
				<span class="btn btn-success">感谢您的参与</span>
				<a href="{{ url_for("vote") }}" class="btn btn-info" style="margin-left: 2rem;">查看投票</a>
			</div>
		{% else %}
			<div class="col">
				<a href="{{ url_for("vote") }}" class="btn btn-primary">点我去投票</a>
			</div>
		{% endif %}
	{% else %}
		<div class="col">
			<a href="{{ url_for("caslogin") }}" class="btn btn-primary">登录</a>
		</div>
	{% endif %}
</div>
{% endblock %}


{% block script %}
<script type="text/javascript">
var canvas = $('#voteChart')[0],
	ctx = canvas.getContext('2d'),
	maxWidth = canvas.parentElement.clientWidth;
var gradientFill = ctx.createLinearGradient(0, 0, maxWidth, 0);
var gradientBorder = ctx.createLinearGradient(0, 0, maxWidth, 0);
gradientFill.addColorStop(0, 'rgba(255, 0, 0, 0.8)');
gradientFill.addColorStop(1, 'rgba(255, 255, 0, 0.8)');
gradientBorder.addColorStop(0, 'rgba(255, 0, 0, 1)');
gradientBorder.addColorStop(1, 'rgba(255, 255, 0, 1)');

var labels = [
	{% for candidate in candidates -%}
		"{{ candidate.name }}".replace(/&amp;/g, '&')
		{%- if not loop.last -%} , {%- endif -%}
	{%- endfor %}
];
var data = [
	{% for candidate in candidates -%}
		{{ candidate.vote_count }}
		{%- if not loop.last -%} , {%- endif -%}
	{%- endfor %}
];

var myBarChart = new Chart(ctx, {
	type: 'horizontalBar',
	data: {
		labels: labels,
		datasets: [{
			label: "票数",
			data: data,
			backgroundColor: gradientFill,
			borderColor: gradientBorder
		}]
	},
	options: {
		scales: {
			xAxes: [{
				ticks: {
					beginAtZero: true
				}
			}]
		},
		responsive: true,
		aspectRatio: 1/(0.1 + 0.08 * data.length),
		maintainAspectRatio: false
	}
});
</script>
{% endblock %}
