{% extends "base.html" %}

{% block content %}
	<br>
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		<strong>电脑浏览器和手机浏览器中体验效果更佳！</strong> 如果你在 QQ 或者微信中打开此链接，可以粘贴本站链接 <a href="/">https://stunion.ustc.edu.cn</a> 在电脑浏览器和手机浏览器中进行访问。
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<br>
	<div class="jumbotron">
		<h1 class="display-4">欢迎来到中国科学技术大学校学生会网站</h1>
		<p class="lead"> 中国科学技术大学校学生会力争办好每一个学生活动 </p>
		<hr class="my-4">
		<p>在此方框下方则会呈现近期的线上活动，点击按钮即可了解详细内容</p>
		<p class="lead">
		<a class="btn btn-primary btn-lg" href="https://young.ustc.edu.cn/" role="button">欢迎访问青春科大首页</a>
		</p>
	</div>
	<br>
	<br>
	{% if userStatus == 0 %}
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		<strong>您的账户尚未激活!</strong> 您的账户尚未激活,你的所有活动将被服务器后台挂起。<a href="{{ url_for('unconfirmed') }}" class="alert-link">点击我激活账户</a>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endif %}
	<br>
	<p>
	<button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapsewish" aria-expanded="false" aria-controls="collapseExample">愿望实现</button>
	</p>
	<div class="collapse" id="collapsewish">
		<div class="card card-body"><div class="shadow-lg p-3 mb-5 bg-white rounded">在这里留下你的愿望，等待有缘人为你实现<a href="{{ url_for('wish') }}" class="alert-link">快点击这里许下你的愿望吧！</a></div></div>
	</div>
	<br>
	<p>
	<button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapsesayloveu" aria-expanded="false" aria-controls="collapseExample">表白匹配</button>
	</p>
	<div class="collapse" id="collapsesayloveu">
		<div class="card card-body"><div class="shadow-lg p-3 mb-5 bg-white rounded">在这里向你的心上人表达你的情愫吧！<a href="{{ url_for('sayLoveU') }}" class="alert-link">点击这里向 TA 表白</a></div></div>
	</div>
	<br>
    <span class="badge badge-pill badge-info">Powered BY 2019 </span>
{% endblock %}
