{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}


{% block content %}
	{% if status %}
		{% if userStatus==0 %}
			<br>
			<div class="alert alert-danger" role="alert">
				<h4 class="alert-heading">oh!!!你的用户还处于未激活状态!</h4>
				<p>为了提高活动的真实有趣性，我们需要确认所有的用户都是实名用户。如果你想完整地体验活动，请务必请激活你的账户。</p>
				<hr>
				<p class="mb-0">更多关于激活账户的信息点我查看!<a href="{{ url_for('unconfirmed') }}">点击这里激活账户</a></p>
			</div>
			<br>
		{% endif %}
		{% if pairedStatus %}
			<br>
			<div class="alert alert-info" role="alert" id="match-success">
				<h4 class="alert-heading">配对成功!!!</h4>
				<p>Congratulations! 配对成功！在此页面你和对方都能看到对方的联系方式！</p>
				<hr>
				<p class="mb-0"> 祝福你们 </p>
			</div>
			<br>
			<span class="badge badge-pill badge-success">配对成功</span>
			<div class="card border-success mb-3" style="max-width: 48rem;">
				<div class="card-header">你告白的对象: {{ fromPersonLoveinfo.toRealname }}</div>
				<div class="card-body text-warning">
					<h5 class="card-title">内容：</h5>
					<p class="card-text">{{ fromPersonLoveinfo.fromSayText }}</p>
				</div>
			</div>
			<br>
			<span class="badge badge-pill badge-success">配对成功</span>
			<div class="card border-success mb-3" style="max-width: 48rem;">
				<div class="card-header">对方写给你的: {{ toPersonLoveinfo.toRealname }}</div>
				<div class="card-body text-warning">
					<h5 class="card-title">内容：</h5>
					<p class="card-text">{{ toPersonLoveinfo.fromSayText }}</p>
				</div>
			</div>
			<br>
			<br>
			<div class="card text-white bg-primary mb-3" style="max-width: 48rem;">
				<div class="card-header">对方的信息</div>
				<div class="card-body">
					<h5 class="card-title">收好对方的信息！</h5>
					<p class="card-text">邮箱地址: <a href="mailto:{{ toPerson.userEmail }}">{{ toPerson.userEmail }}</a><br> QQ号: {{ toPerson.userQQnum }}</p>
				</div>
			</div>
		{% else %}
			<br>
			<div class="alert alert-warning" role="alert">
				<h4 class="alert-heading">Well done!</h4>
				<p>我们已经帮你存储了你的告白，等到对方表白你的时候，你们都会收到对方的告白!</p>
				<hr>
				<p class="mb-0">为你们献上最真挚的祝福～</p>
			</div>
			<br>
			<span class="badge badge-pill badge-warning">未配对</span>
			<div class="card border-warning mb-3" style="max-width: 48rem;">
				<div class="card-header">你告白的对象: {{ fromPersonLoveinfo.toRealname }}</div>
				<div class="card-body text-warning">
					<h5 class="card-title">内容:</h5>
					<p class="card-text">{{ fromPersonLoveinfo.fromSayText }}</p>
				</div>
			</div>
			<br>
		{% endif %}
	{% else %}
		<br>
		<div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"> 在这里向你的心上人表白吧！</h4><p>表白后就无法进行更改，一定要输对 TA 的真实姓名哦～</p>
			<hr><p class="mb-0">记得要输入对方的真实姓名，你们才能完成配对</p>
		</div>
		<br>
		{{ render_form(form) }}
	{% endif %}

<style>
#match-success {
    background-color: #FFE0ED;
    border-color: #DB7093;
    color: #D12593;
}
</style>
{% endblock %}
