{% extends "base.html" %}

{% block content %}
<h2 style="margin-bottom: 2rem;">
	{% if has_voted %} 这是你的投票 {% else %} 请为您喜爱的选手投票 {% endif %}
</h2>

<form id="vote" action="{{ url_for("submit") }}" method="post">
	<div class="form-group form-row">
		<label class="col-sm-2 col-form-label" for="ticketNum">您的门票编号</label>
		<div class="col-sm-10">
			<input id="ticketNum" class="form-control" type="text" name="ticketNum" title="门票编号，12 位大写字母与数字的组合" maxlength="14" pattern="[A-Za-z0-9]{4}(-?[A-Za-z0-9]{4}){2})" style="text-transform: uppercase;" />
		</div>
	</div>

	<div class="form-group form-row">
		<legend class="col-sm-2 col-form-label pt-0">您喜爱的选手</legend>
			<div id="vote-options" class="col-sm-10">
			{% for candidate in candidates %}
				<div class="form-check">
					<input id="candidate-{{ loop.index }}" class="form-check-input" type="radio" name="candidate" value="{{ candidate.id }}"
					{% if has_voted %}
						{% if candidate.selected %}checked{% endif %} disabled
					{% endif %}
					/>
					<label for="candidate-{{ loop.index }}">{{ candidate.name }}</label>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="col text-center justify-content-center">
			{% if has_voted %}
			<a href="{{ url_for("index") }}" class="btn btn-secondary">返回主页</a>
			{% else %}
			<button id="btn-submit" name="submit" class="btn btn-primary" type="submit" disabled>提交投票</button>
			{% endif %}
		</div>
	</div>
</form>
{% endblock %}

{% block script %}
<script>
function verifyForm() {
	if (!$('input[name=ticketNum]')[0].value.match(/^[A-Z0-9]{4}(-?[A-Z0-9]{4}){2}$/i)) {
		return false;
	}
	if ($('input[type=radio][name=candidate]:checked').length !== 1) {
		return false;
	}
	return true;
}
function onChange() {
	$('button[name=submit]').attr("disabled", !verifyForm());
}
$('form input[type=radio]').on('change', onChange);
$('form input[type=text]').on('input', onChange);
var cleave = new Cleave('#ticketNum', {
	delimiter: '-',
	blocks: [4, 4, 4],
	uppercase: true
});
</script>
{% endblock %}
