{% extends "base.html" %}

{% block content %}
{% if has_voted %}
	<h2>这是你的投票</h2>
{% else %}
	<h2>请为您喜爱的选手投票</h2>
{% endif %}

<form id="vote" action="{{ url_for("submit") }}" method="post">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<p>您的门票编号</p>
			</div>
			<div class="col">
				<input type="text" name="ticketNum" title="门票编号，12 位大写字母与数字的组合" maxlength="12" pattern="[A-Za-z0-9]{12}" style="text-transform: uppercase;" />
			</div>
		</div>
        <br>
		{% for candidate in candidates %}
            <br>
			<div class="row">
				<div class="col-md-1">
						<input type="radio" name="candidate" value="{{ candidate.id }}"
						{% if has_voted %}
							{% if candidate.selected %}checked{% endif %} disabled
						{% endif %}
						/>
				</div>
				<div class="col">
					<p>{{ candidate.name }}</p>
				</div>
			</div>
		{% endfor %}
		<div class="row">
			<div class="col text-center justify-content-center">
				{% if has_voted %}
					<a href="{{ url_for("index") }}" class="btn btn-secondary">返回主页</a>
				{% else %}
					<button id="btn-submit" name="submit" class="btn btn-primary" type="submit">提交投票</button>
				{% endif %}
			</div>
		</div>
	</div>
</form>

<script>
function verifyForm() {
	if (!$('input[name=ticketNum]')[0].value.match(/^[A-Z0-9]{12}$/i)) {
		return false;
	}
	if ($('input[type=radio][name=candidate]:checked').length !== 1) {
		return false;
	}
	return true;
}
function onChange() {
	$('button[name=submit]').attr("disabled", !verifyForm());
}
$('form input[type=text], form input[type=radio]').on('change', onChange);
</script>
{% endblock %}
