{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}


{% block content %}
<div class="center-block">
	<br>
	<div class="alert alert-primary" role="alert"> 本次活动中的愿望！！每次刷新可观看 </div>
	<br>
	{% for wish in wishes %}
		<br>
		<div class="card border-primary mb-3" style="max-width: 48rem;">
			<div class="card-header"> 愿望展示卡 </div>
			<div class="card-body text-primary">
				<h5 class="card-title"> 愿望内容 </h5>
				<p class="card-text"> {{ wish.wishcontent }} </p>
			</div>
		</div>
		<br>
	{% endfor %}
	<br>

	{% if sex %}
		<br>
		<a type="button" class="btn btn-outline-primary" href="{{ url_for('boy') }}">挑选属于自己的愿望</a>
		<br>
	{% else %}
		<br>
		<a type="button" class="btn btn-outline-primary" href="{{ url_for('girl') }}">许下自己的愿望</a>
		<br>
	{% endif %}
	<br>
</div>
{% endblock %}
